  <meta charset="utf-8" />
  <title>VGCC - {{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Video Game Culture Community Website" />

  <link rel="icon" type="image/png" href="https://d3ol0azg234pxv.cloudfront.net/v1/vgcc-hub/branding-assets/main/logo/logo-1024.png" />

  <!-- Open Graph -->
  <meta property="og:title" content="VGCC - {{ title }}" />
  <meta property="og:description" content="Video Game Culture Community Websit" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://vgcc.art/" />
  <meta property="og:image" content="https://d3ol0azg234pxv.cloudfront.net/v1/vgcc-hub/branding-assets/main/logo/logo-1024.png" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css" rel="stylesheet">