---
redirect_url: "https://vgcc.art"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- redirect -->
    <meta http-equiv="refresh" content="0; url='{{ redirect_url }}'" />
    <title>{{ title }}</title>
  </head>
  <body>
    <p>
      If you are not redirected automatically, follow this <a href="{{ redirect_url }}">link to VGCC</a>.
    </p>
    <script>
      // Redirect immediately
      window.location.href = "{{ redirect_url }}";
    </script>
    {{ content | safe }}
  </body>
</html>